<!DOCTYPE html>
<html>
<head>
  <title>Personal Portfolio</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
  
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="nav-area">
      <div class="sitename"> Personal Portfolio</div>
  </div>

  <div class="profile">
     <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.6435-9/71161163_585587411973193_3742142221172867072_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=cdbe9c&_nc_eui2=AeFLKhSeYfz7cnomp8g203i1mf9RUPIUFVCZ_1FQ8hQVUII4VyWEBmDLR1TcJXlqzldipcUACbLbcCSvPFu7OqUC&_nc_ohc=WKexIKawUs4AX8OD5nT&_nc_ht=scontent.fdvo1-1.fna&oh=3ff3c5dea80d5af7939546ef8b198f1f&oe=61781A60"   style=" height: 300px; width: 300px; margin-left: 100px; margin-top: 30px">

    <div class="text1"> Hello, Welcome to my personal portfolio. <br>Im' Anjelo Villafranca a Web <br> Developer and Programmer.</div>

    <div class="about">
    <pre>About Me:
I'm currently a third year student at <br>Eastern Visayas State University, <br>taking Bachelor of Science in Information <br>Technology. I live in Tacloban City<br>Philippines. 
    </pre>
    
  </div>
  </div>


  <div class="Contact">
    <h2 style="margin-left: 150px">Contact Me: </h2>

    <a href="https://www.facebook.com/emdz.anjelo/" target="_BLANK" style="margin-left:200px; font-size: 50px"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/villafrancanjelo/" target="_BLANK" style="margin-left:20px; font-size: 50px"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="_BLANK" style="margin-left:20px; font-size: 50px"><i class="fa fa-envelope" aria-hidden="true"></i></a>
<pre style="margin-left: 100px; font-size: 13px">
  Email: jelo.villafranca@gmail.com / anjelo.villafranca@evsu.edu.ph
</pre>
</div>


</body>
</html>